* {
  font-family: helvetica, Arial, sans serif;
}

body {
  background-image: url("files/background.jpg");
  background-color: #cccccc;
  background-position: center top;
  background-attachment: fixed;
  background-size: auto;
  font-family: tahoma;
  color: red;
}

.nav-tabs>li>a{
  margin-right: 2px;
  border: 1px solid transparent;
  border-radius: 4px 4px 4px 4px;
  font-size: 1.5em;
  color: #FFF;
}

h1 {
  font-family: georgia;
  text-align: center;
  font-weight: 800;
  /*font-style: italic;*/
  font-size: 6em;
}
h2 {
  font-size: 2em;
  /*letter-spacing: .2em; */
  font-weight: thin;

}

h3  {
  font-size: 1.5em;
  font-weight: bold;
}
#content{
  padding:40px;
  border:1px;
  color:#fff;
  display:block;
  font-family: Helvetica, Helvetica, Arial;
  font-size: 1em;
  background-color: rgba(0,0,0,0.5);
}

.error{
  color:#8b0000;
}

.aboutHeader .Kuzines{
  width: 100% !important;
  background-color: red;
  color: #FFF;
  font-size: 2.5em;
  font-family: Helvetica, Arial;
  padding: 20px 20px;
  text-align: center;
}

.article-body{
  color: #FFF;
  font-family: Helvetica, Arial;
  font-size: 1.2em
}

.follow{
  color:#FFF;
  font-family: Helvetica, Arial;
  font-size: 1.5em
}

.SocialMediaLogo{
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 64px 64px;
  background-image: url("form/image/facebook29.png")
  color: #615E5B;
}

.SocialMediaLogo > a{
  color: #000000;
}

form {
  border: 2px dashed #7f5035;
  padding-left: 2%;
}

label {
  font-family: helvetica, Arial;
  font-weight: lighter;
}

.textbox  {
  height: 10px;
  width: 100%;
}
.textbox2 {
  height: 10px;
  width: 16%;
}

.divider {
  border: 0;
  height: 1px;
  
  background: #fff;
  background-image: -webkit-linear-gradient(left, #ccc, #fff, #ccc); 
  background-image:    -moz-linear-gradient(left, #ccc, #fff, #ccc); 
  background-image:     -ms-linear-gradient(left, #ccc, #fff, #ccc); 
  background-image:      -o-linear-gradient(left, #ccc, #fff, #ccc); 
}

input,select{
    border: 2px solid #8c4236; 
    border-radius: .5em;
    -webkit-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    -moz-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    padding: 15px;
    background: rgba(255,255,255,0.8);
    margin: 0 0 4px 0;
    display: block;
    color: #000000;
}

.input:focus{
  outline: none !important;
  border: 1px solid yellow;
}
.rebel  {
  display: inline-block;
}
.error{
  color:#ff5d00;
}
.button {
    border: none;
    color: white;
    font-weight: bolder;
    background-color: #ff7d00;
    margin-right: auto;
    margin-left:1em;
}

input[type="radio"] {
  margin-right: 1em;
}
#female {
  margin-left: 1em;
}

.gone
{
    display : none;
}
.date{
    display : inline;
}
.back
{
    display : block;
}

footer {
  color:white;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: rgba(0,0,0,0.5);
}







@media only screen and (min-width:550px max-width:760px){
 
  .col-sm-offset-1 {
    margin-left: 1em;
    /*not working...*/
  }
   select {
    width: 25%;
  }
}

@media only screen and (max-width:550px){
  #content{
    padding:20px;
  }
  h1 {
    font-size: 4em;
  }
  h2  {
    font-size: 1.5em;
    text-align: center;
  }
  h3  {
    font-size: 1.2em;
    display:none;
  }
  input,select{
    padding: 7px;
    background: rgba(255,255,255,0.8);
    margin: 0 0 4px 0;
  }
  .rebel{
    col-xs-10 col-xs-offset-2
    width: 83.3%
    margin-right: .0833%;
    margin-left: .0833%;
  }
  .button{
    margin-right: auto;
    margin-left: auto;
  }
  form{
    margin-bottom: 0px;
  }
}